@media only screen and (min-width: 768px) {
    html, .body {
        font-size: 14px;
    }

    forms ul {
        p {
            font-size: 2rem;
        }
    }
}

@media only screen and (min-width: 1080px) {

    html, body {
        font-size: 15px;
    }

    .about .wrapper {
        grid-auto-flow: dense;
    }

    .forms ul {
        p {
            font-size: 2.2rem;
        }
    }

    .hero .container {
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            display: flex;
            width: 18rem;
            height: 18rem;
            margin-right: 4em;
        }
    }

    .hero .navbar a {
        .nav-logo {
            display: none;
        }
        p {
            margin-left: 3em;
        }
    }

    .forms header{
        text-align: left;
        margin: 6em 0 3em;

        h3::before {
            left: 0;
        }        
    }

    .forms ul {
        padding: 0 $padding;
        grid-gap: 3em;
    }

    .forms ul li {
        a {
            grid-template-columns: 10em auto;
            
            p{
                margin-right: 0.25em;
            }

            img {
                padding: 1em;
                width: 7.5em;
                height: 7.5em;
            }
        }
    }

    .note {
        padding-bottom: 3em;
    }

    .note .content {
        li{
        font-size: 1.5rem;
        }

        strong {
            font-size: 1.8rem;
        }
    }
    
}

@media only screen and (min-width: 1450px) {

    html, body {
        font-size: 16px;
    }

    #about{
        text-align: left;
    }

    #contact{
        text-align: right;
    }

    .forms ul {
        p {
            font-size: 1.9rem;
        }
    }

    .forms ul {
        padding: 0 $padding + 5%;
        row-gap: 3em;
        column-gap: 6em;
    }

    .forms ul li {
        margin: 0em;

        a {
            grid-template-columns: auto;
            grid-template-rows: 16em auto;
    
            p{
                margin-bottom: 1em;
            }
    
            img {
                width: 13em;
                height: 13em;
            }
        }
    }

    .note .header{
        margin-top: -12em;
    }
}