@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Raleway:wght@400;700&display=swap");
body {
  background-color: #6D87A8;
  font-family: 'Raleway';
  margin: 0;
  padding: 0;
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  font-size: 1.2rem;
}

h1 {
  font-family: 'Playfair Display';
  color: white;
  font-size: 3rem;
}

h2 {
  color: #475E7B;
  font-family: 'Playfair Display';
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0.2em 0;
}

h3 {
  color: #475E7B;
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 1.6rem;
  margin: 0 0 2.5em;
  position: relative;
  z-index: 1;
}

h3::before {
  content: ' ';
  position: absolute;
  width: 5em;
  height: 0.4em;
  background: #E6C5A9;
  top: 2.1em;
  z-index: -1;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.wave {
  -webkit-filter: drop-shadow(0 5px 2px rgba(12, 10, 37, 0.2)) drop-shadow(0 10px 5px rgba(22, 18, 78, 0.13));
          filter: drop-shadow(0 5px 2px rgba(12, 10, 37, 0.2)) drop-shadow(0 10px 5px rgba(22, 18, 78, 0.13));
  width: 100%;
  overflow: hidden;
  margin-top: -1.3em;
  margin-bottom: -4em;
}

.wave path {
  fill: #6D87A8;
}

.hero span {
  color: #E6C5A9;
  display: block;
}

.hero .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: none;
  position: relative;
  margin-top: 1em;
  height: auto;
  width: 100%;
  padding: 0;
}

.hero .navbar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .navbar a img {
  width: 4em;
  height: 3.8em;
  margin: 1em;
  margin-left: 2em;
}

.hero .navbar a p {
  font-weight: bold;
  margin-top: 1em;
  font-size: 1.5rem;
}

.hero .navbar .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2em;
  margin-top: 0.5em;
}

.hero .navbar .icons img {
  width: 2.6em;
  height: 2.6em;
  margin: 1em;
  -webkit-filter: drop-shadow(3px 5px 2px rgba(12, 10, 37, 0.2));
          filter: drop-shadow(3px 5px 2px rgba(12, 10, 37, 0.2));
}

.hero .container {
  margin-top: 5em;
}

.hero .container .logo {
  display: none;
}

.hero .container .cta {
  text-align: center;
}

.hero .container .cta a {
  background-color: white;
  color: #475E7B;
  border-radius: 5em;
  padding: 0 2em;
  margin: 0 auto 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  -webkit-box-shadow: 1px 1px 1px rgba(53, 67, 86, 0.5), 2px 2px 2px rgba(53, 67, 86, 0.4), 4px 4px 4px rgba(53, 67, 86, 0.3), 8px 8px 10px rgba(53, 67, 86, 0.2);
          box-shadow: 1px 1px 1px rgba(53, 67, 86, 0.5), 2px 2px 2px rgba(53, 67, 86, 0.4), 4px 4px 4px rgba(53, 67, 86, 0.3), 8px 8px 10px rgba(53, 67, 86, 0.2);
}

.hero .container .cta a:hover {
  background-color: #f0e7e0;
}

.hero .container .cta p::before {
  color: #475E7B;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: "\f56b";
  margin-right: 0.7rem;
}

.about {
  background-color: #FFF8F5;
  padding-bottom: 5em;
}

.about p {
  text-align: center;
}

.about ::-moz-selection {
  background: #E6C5A9;
}

.about ::selection {
  background: #E6C5A9;
}

.top, .bottom {
  padding: 0 3em;
}

.bottom span {
  font-weight: bold;
}

.bottom p {
  margin: 2em 0 3em;
}

.forms {
  background-color: #D2DFF0;
  padding-bottom: 5em;
}

.forms .wave path {
  fill: #FFF8F5;
}

.forms p {
  text-align: center;
}

.forms header {
  margin-bottom: 5em;
  margin-top: -3em;
  text-align: right;
  padding: 0 3em;
}

.forms span {
  display: block;
}

.forms h3::before {
  right: 0;
}

.forms a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.forms ul {
  padding: 0 3em;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(340px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-gap: 1em;
}

.forms li {
  background: white;
  margin: 0.5em;
  padding: 1em;
  border-radius: 35px;
  -webkit-box-shadow: 1px 1px 2px rgba(53, 67, 86, 0.3), 2px 2px 3px rgba(53, 67, 86, 0.3), 4px 4px 5px rgba(53, 67, 86, 0.3), 8px 8px 10px rgba(53, 67, 86, 0.2);
          box-shadow: 1px 1px 2px rgba(53, 67, 86, 0.3), 2px 2px 3px rgba(53, 67, 86, 0.3), 4px 4px 5px rgba(53, 67, 86, 0.3), 8px 8px 10px rgba(53, 67, 86, 0.2);
}

.forms li a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10em auto;
      grid-template-columns: 10em auto;
}

.forms li p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: 'Playfair';
  font-size: 1.8rem;
  font-weight: bold;
  color: #6D87A8;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0.3em;
  padding-bottom: 0.4em;
  border-bottom: 3px solid;
}

.forms li img {
  height: 7em;
  width: 7em;
  margin: 0.5em 0.8em;
}

.forms .blue {
  background: #6D87A8;
}

.forms .blue p {
  color: white;
}

.note {
  background-color: #FFF8F5;
  padding-bottom: 5em;
}

.note .wave path {
  fill: #D2DFF0;
}

.note .content, .note .header {
  padding: 0 3em;
}

.note .content {
  margin: 1em;
}

.note .header {
  margin-top: 5em;
}

.note li {
  font-size: 1.2rem;
}

.note strong {
  display: block;
  margin: 1em 0;
  font-family: 'Playfair';
  font-size: 1.5rem;
  color: #475E7B;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }
}
/*# sourceMappingURL=index.css.map */