@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&family=Raleway:wght@400;700&display=swap');

body {
    background-color: $pri-colour;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;

    ::selection {
        background: $sec-colour;
    }
}

p {
    font-size: 1.3rem;
}

h1 {
    font-family: 'Playfair Display';
    color: white;
    font-size: 3rem;
}

h2 {
    color: $header-blue;
    font-family: 'Playfair Display';
    font-size: 2.8rem;
    font-weight: 900;
    margin: 0.2em 0;
}

h3 {
    color: $header-blue;
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 1.6rem;
    margin: 0 0 2.5em;
    position: relative;
    z-index: 1;

    &::before {
        content: ' ';
        position: absolute;
        width: 5em;
        height: 0.4em;
        background: $sec-colour;
        top: 2.1em;
        z-index: -1;
        border-radius: 10px;
    }
}

a {
    text-decoration: none;
    color: white;
}

html {
    scroll-behavior: smooth;
}

.wave {
    filter: drop-shadow(0 5px 2px rgba(12, 10, 37, 0.2)) drop-shadow(0 10px 5px rgba(22, 18, 78, 0.13));
    width: 100%;
    overflow: hidden;
    margin-top: -1.5em;
    margin-bottom: -10em;

    path {
        fill: $pri-colour;
    }
}

.hero {
    span {
        color: $sec-colour;
        display: block;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        background: none;
        position: relative;
        margin-top: 1rem;
        height: auto;
        width: 100%;
        padding: 0;

        a {
            display: flex;
            align-items: center;
            margin-left: $padding - 4%;

            img {
                width: 4rem;
                height: 3.8rem;
                margin: 1em;
            }

            p {
                font-weight: bold;
                margin-top: 1em;
                font-size: 1.6rem;
            }
        }

        .icons {
            display: flex;
            margin-right: $padding;
            margin-top: 0.5em;

            img {
                width: 2.6rem;
                height: 2.6rem;
                margin: 0.8em;

                filter: drop-shadow(3px 5px 2px rgba(12, 10, 37, 0.2))
            }
        }
    }

    .container {
        margin: 5.5em 0;

        .logo {
            display: none;
        }

        .cta {
            text-align: center;

            h1 {
                margin: 0 0 .8em;
            }

            a {
                background-color: white;
                color: $header-blue;
                border-radius: 5em;
                padding: 0 2em;
                margin: auto;
                display: flex;
                align-items: center;
                width: fit-content;
                font-weight: bold;
                box-shadow: 1px 1px 1px rgba(#354356, 0.5),
                    2px 2px 2px rgba(#354356, 0.4),
                    4px 4px 4px rgba(#354356, 0.3),
                    8px 8px 10px rgba(#354356, 0.2);
                transition: background 300ms ease-in-out;
            }

            p::before {
                color: $header-blue;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                font-family: "Font Awesome 5 Free";
                font-weight: 700;
                content: "\f291";
                margin-right: 0.7rem;
                transition: color 300ms ease-in-out;
            }

            a:hover {
                background: $header-blue;
                color: white;

                p::before {
                    color: white;
                }
            }
        }
    }


}


.about {
    background-color: $cream;
    padding-bottom: 5em;

    p {
        text-align: center;
    }

    .wrapper{
        margin-top: 3em;
        padding: 0 $padding;
        display: grid;
        // grid-template-columns: auto auto;
        // grid-template-rows: auto auto;
        grid-template-columns:repeat(auto-fit, minmax(589px, 1fr));
        grid-gap: 1em;
        align-items: center;
        span {
            font-weight: bold;
        }
    }
}

.forms {
    background-color: $light-blue;
    padding-bottom: 3em;

    .wave {
        path {
            fill: $cream;
        }
    }

    header {
        margin-top: -10em;
        text-align: right;
        padding: 0 $padding;
    }

    span {
        display: block;
    }

    h3::before {
        right: 0;
    }

    ul {
        padding: 0 $padding;
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
        grid-gap: 1em;
    }

    li {
        background: white;
        margin: 0.5em;
        padding: 1em;
        border-radius: 35px;
        transition: background 200ms ease-in-out;
        box-shadow: 1px 1px 2px rgba(#354356, 0.3),
            2px 2px 3px rgba(#354356, 0.3),
            4px 4px 5px rgba(#354356, 0.3),
            8px 8px 10px rgba(#354356, 0.2),
            10px 10px 15px rgba(#354356, 0.2);

        a {
            display: grid;
            grid-template-columns: 8em auto;
        }

        p {
            text-align: center;
            align-self: center;
            justify-self: center;
            font-family: 'Playfair';
            font-size: 1.8rem;
            font-weight: bold;
            color: $pri-colour;
            margin: 0;
            width: fit-content;
            padding: 0 0.3em;
            padding-bottom: 0.4em;
            border-bottom: 3px solid;
            transition: color 200ms ease-in-out;
        }

        img {
            height: 7em;
            width: 7em;
            margin: auto;
            padding: 0.7em
        }

        &:hover {
            background: $text-blue;

            p {
                color: $sec-colour;
            }
        }
    }

    .blue {
        background: $pri-colour;

        p {
            color: white;
        }
    }
}

.note {
    background-color: $cream;
    padding-bottom: 5em;

    .wave {
        path {
            fill: $light-blue;
        }
    }

    .content,
    .header {
        padding: 0 $padding;
    }

    .content {
        margin: 1em;
    }

    .header {
        margin-top: 5em;
    }

    li {
        font-size: 1.2rem;
    }

    strong {
        display: block;
        margin: 1em 0;
        font-family: 'Playfair';
        font-size: 1.5rem;
        color: $header-blue;
    }

}

@media only screen and (min-width: 768px) {
    html, .body {
        font-size: 16px;
    }

    forms ul {
        p {
            font-size: 2rem;
        }
    }
}

@media only screen and (min-width: 1080px) {

    html, body {
        font-size: 16px;
    }

    // .about p{
    //     padding: 0 $padding + 5%;
    // }

    .about .wrapper {
        grid-auto-flow: dense;
    }

    .forms ul {
        p {
            font-size: 2.2rem;
        }
    }

    .hero .container {
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            display: flex;
            width: 18rem;
            height: 18rem;
            margin-right: 4em;
        }
    }

    .hero .navbar a {
        .nav-logo {
            display: none;
        }
        p {
            margin-left: 3em;
        }
    }

    .forms header{
        text-align: left;
        margin: 6em 0 3em;

        h3::before {
            left: 0;
        }        
    }

    .forms ul {
        padding: 0 $padding;
        grid-gap: 3em;
    }

    .forms ul li {
        a {
            grid-template-columns: 10em auto;
            
            p{
                margin-right: 0.25em;
            }

            img {
                padding: 1em;
                width: 7.5em;
                height: 7.5em;
            }
        }
    }

    .note {
        padding-bottom: 3em;
    }

    .note .content {
        li{
        font-size: 1.5rem;
        }

        strong {
            font-size: 1.8rem;
        }
    }
    
}

@media only screen and (min-width: 1450px) {

    html, body {
        font-size: 18px;
    }

    #about{
        text-align: left;
    }

    #contact{
        text-align: right;
    }

    .forms ul {
        p {
            font-size: 1.9rem;
        }
    }

    .forms ul {
        padding: 0 $padding + 5%;
        row-gap: 3em;
        column-gap: 6em;
    }

    .forms ul li {
        margin: 0em;

        a {
            grid-template-columns: auto;
            grid-template-rows: 16em auto;
    
            p{
                margin-bottom: 1em;
            }
    
            img {
                width: 13em;
                height: 13em;
            }
        }
    }

    .note .header{
        margin-top: -12em;
    }
}